project/bin/
project/lib/
project/build/
project/3rd/sqlite/sqlite-amalgamation-3260000/libsqlite3.a
project/3rd/sqlite/sqlite-amalgamation-3260000/libsqlite3.so
project/3rd/sqlite/sqlite-amalgamation-3260000/sqlite3
project/3rd/sqlite/sqlite-amalgamation-3260000/sqlite3.o
project/3rd/electric-fence/electric-fence-master/
